* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* standard */
  -webkit-user-select: none; /* safari */
  -moz-user-select: none; /* firefox */
  -ms-user-select: none; /* IE/Edge */
}

:root {
  --font_roboto: "Roboto", sans-serif;
  --font_roboto_condensed: "Roboto Condensed", sans-serif;
  --font_roboto_serif: "Roboto Serif", serif;
  --font_stint_ultra_condensed: "Stint Ultra Condensed", serif;
  --html_font_family: var(--font_roboto);

  --clr_background: rgb(135, 206, 235);
  --clr_header: rgb(32, 133, 234);
  --clr_foreground: rgb(245, 222, 179);
  --clr_button: rgb(14, 82, 150);
  --clr_footer: rgb(14, 82, 150);

  --min_width: 700px;
  --max_width: 700px;
  --default_margin: 20px;
  --border_radius: 20px;
}

html {
  font-size: 16px;
  font-family: var(--html_font_family);
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--default_margin);
  min-width: var(--min_width);
  max-width: var(--max_width);
  margin: 0 auto;
  margin-top: var(--default_margin);
  margin-bottom: var(--default_margin);
  padding-left: var(--default_margin);
  padding-right: var(--default_margin);
  /* background-color: yellowgreen; */
}

header {
  background-color: var(--clr_header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-left: 30px;
  border-radius: var(--border_radius);
  color: white;
}

header h1 {
  font-size: 1.7rem;
  font-weight: 400;
}

footer {
  background-color: var(--clr_footer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-radius: var(--border_radius);
  color: white;
}

.user_svg_container {
  height: 64px;
}

.nodejs_svg_container {
  height: 50px;
  padding-bottom: 8px;
}

.expressjs_svg_container {
  height: 50px;
}

.user_svg_container img,
.nodejs_svg_container img,
.expressjs_svg_container img {
  height: 100%;
}

.main_container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  gap: 40px;
  /* flex: 1; */
  /* min-height: 300px; */
  align-items: center;
  flex-direction: column;
  background-color: var(--clr_foreground);
  border-radius: var(--border_radius);
}

.home_picture {
  width: 100%;
  height: auto;
  border-radius: var(--border_radius);
  display: block;
}

.main_container h1 {
  color: var(--clr_footer);
  margin-bottom: -14px;
}

.index_button_container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: var(--font_roboto);
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
  width: 150px;
  border-radius: var(--border_radius);
  background-color: dimgray;
  padding: 13px 26px;
}

button:hover {
  background-color: darkgray;
}

.show_hide_button_container {
  display: flex;
  justify-content: flex-end;
}

#show_hide_pwd {
  width: 80px;
  height: 26px;
  background-color: darkkhaki;
  color: black;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
}

#show_hide_pwd:hover {
  background-color: tan;
}

.auth_error {
  display: block;
  background-color: indianred;
  color: white;
  padding: 10px 20px;
  border-radius: var(--border_radius);
  font-size: 1.2rem;
  font-family: var(--font_roboto_condensed);
  /* font-weight: bold; */
  opacity: 1;
  animation: hideError 10s forwards;
}

/* keyframes to hide the error message after a timeout */
@keyframes hideError {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form input {
  font-family: var(--font_roboto);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: var(--border_radius);

  border: none;
}

form input:focus {
  outline: none;
  border: none;
}

form label {
  font-family: var(--font_roboto);
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 20px;

  color: dimgray;
}

.form_input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.form_inputs_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user_info_block,
.user_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 80%;
  border-radius: var(--border_radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 30px;
  background-color: burlywood;
}

.admin_role_div,
.user_role_div {
  position: absolute;
  top: 18px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rebeccapurple;
  color: white;
}

.user_role_div {
  background-color: royalblue;
}

.user_info p,
.user_info_card p {
  color: darkblue;
}

.users_list_block {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.users_list_block h3 {
  text-align: center;
}

.user_card {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  gap: 15px;
  padding: 25px 30px;
  background-color: silver;
}

.login_button {
  background-color: darkolivegreen;
}

.login_button:hover {
  background-color: olivedrab;
}

.signup_button {
  background-color: darkgoldenrod;
}

.signup_button:hover {
  background-color: peru;
}

.home_button {
  background-color: var(--clr_button);
}

.home_button:hover {
  background-color: steelblue;
}

.logout_button {
  background-color: saddlebrown;
}

.logout_button:hover {
  background-color: sienna;
}
